body {
    font-family: poppins, sans-serif;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }
  
  .item-detail {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }
  
  .item-quantity-selector {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .brief {
    border: 1px solid #ccc;
    padding: 16px;
  }
  
  .brief ul {
    list-style-type: none;
    padding: 0;
  }
  