.description {
    max-width: 75rem;
    margin: 0 auto 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.product-list {
display: flex;
flex-wrap: wrap;
gap: 16px;
padding-top: 40px;
justify-content: center;
}

.product-card {
border: 1px solid #ddd;
padding: 16px;
width: calc(25% - 32px);
box-sizing: border-box;
text-align: center;
}

.product-image {
max-width: 100%;
height: auto;
}

