.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
  }
  
  .product-card {
    border: 1px solid #fad46c;
    border-radius: 30px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 1.2em;
    margin: 8px 0;
  }
  
  button {
    background-color: #e4bb62;
    color: #302f2f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #c99c3a;
  }